body {
	scroll-behavior: smooth;
	background: rgb(2,0,36);
	background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%); 
	font-family: 'Montserrat', sans-serif;
	background-size: cover
}

/*d-flex flex-wrap justify-content-center*/

@media screen and (max-width: 900px) {

	.textMenu {
		display: none;
	}

	.media {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	div .display-3 {
		font-size: 13vw;
	}

}

.linkFooter {
	text-decoration: none;
	color: #ddd;
}

.linkFooter:hover {
	text-decoration: none;
	color: #eee;
}